In [1]:
import pandas as pd

In [2]:
# data=pd.ExcelFile()
df=pd.read_excel(open("C:\\Users\\Ahmed\\Documents\\A_DrNoman\\Bid_postal\\d_all_excel.xlsx",'rb'))

# df = pandas.read_excel(open('your_xls_xlsx_filename','rb'), sheetname=2)

In [7]:
df

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,99501,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
1,AK,99502,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
2,AK,99503,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
3,AK,99504,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
4,AK,99505,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
5,AK,99506,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
6,AK,99507,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
7,AK,99508,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
8,AK,99509,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
9,AK,99510,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
10,AK,99511,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
11,AK,99513,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
12,AK,99514,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
13,AK,99515,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
14,AK,99516,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
15,AK,99517,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
16,AK,99518,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
17,AK,99519,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
18,AK,99520,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
19,AK,99521,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
20,AK,99522,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
21,AK,99523,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
22,AK,99524,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
23,AK,99529,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
24,AK,99530,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
25,AK,99540,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,3
26,AK,99546,COLD BAY,0.00,0.00,0.0,0.00,0.0,1
27,AK,99547,UNALASKA,0.00,0.03,0.0,0.03,0.0,1
28,AK,99548,CHIGNIK,0.00,0.00,0.0,0.00,0.0,1
29,AK,99549,BRISTOL BAY BOROUGH,0.00,0.00,0.0,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...
818,WV,26755,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
819,WV,26757,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
820,WV,26761,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
821,WV,26763,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
822,WV,26764,PRESTON,0.06,0.06,0.0,0.00,0.0,1
823,WV,26767,MINERAL,0.06,0.06,0.0,0.00,0.0,1
824,WV,26801,HARDY,0.06,0.06,0.0,0.00,0.0,1
825,WV,26802,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
826,WV,26804,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
827,WV,26807,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
828,WV,26808,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
829,WV,26810,HARDY,0.06,0.06,0.0,0.00,0.0,1
830,WV,26812,HARDY,0.06,0.06,0.0,0.00,0.0,1
831,WV,26814,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
832,WV,26815,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
833,WV,26817,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
834,WV,26818,HARDY,0.06,0.06,0.0,0.00,0.0,1
835,WV,26823,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
836,WV,26833,GRANT,0.06,0.06,0.0,0.00,0.0,1
837,WV,26836,HARDY,0.06,0.06,0.0,0.00,0.0,1
838,WV,26838,HARDY,0.06,0.06,0.0,0.00,0.0,1
839,WV,26845,HARDY,0.06,0.06,0.0,0.00,0.0,1
840,WV,26847,GRANT,0.06,0.06,0.0,0.00,0.0,4
841,WV,26851,HARDY,0.06,0.06,0.0,0.00,0.0,1
842,WV,26852,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
843,WV,26855,GRANT,0.06,0.06,0.0,0.00,0.0,1
844,WV,26865,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
845,WV,26866,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
846,WV,26884,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
847,WV,26886,PENDLETON,0.06,0.06,0.0,0.00,0.0,1

### saving a data frame as CSV

In [ ]:
df.to_csv('C:\\Users\\Ahmed\\Documents\\A_DrNoman\\Bid_postal\\pd_allouta.csv')

In [14]:
df1=df.groupby(['TaxRegionName'])['ZipCode'].unique()
# pd.unique(df)

In [15]:
df1

TaxRegionName
 MCKENZIE                                             [38201, 38223, 38235]
 MILLEDGEVILLE                                                      [38359]
 MONTEAGLE                                                          [37356]
 RIDGETOP                                                           [37152]
 SILERTON                                                           [38377]
 SPRING HILL                                                        [37174]
 TRIMBLE                                                            [38259]
 TULLAHOMA                                                   [37388, 37389]
 VERNON                                                             [48476]
 ZIONSVILLE                                                         [46077]
ABBEVILLE                                                    [70510, 70511]
ABBEVILLE COUNTY                               [29620, 29628, 29638, 29639]
ABBOTSFORD                                                          [54405]
ABERCROMBIE                                                         [58001]
ABERDEEN                  [21001, 39730, 28315, 45101, 57401, 57402, 574...
ABERDEEN TOWNSHIP                                                    [7721]
ABERNATHY (HALE CO)                                                 [79311]
ABIE                                                                [68001]
ABILENE                   [67410, 79601, 79602, 79603, 79604, 79605, 796...
ABINGDON                                                     [61410, 24212]
ABINGTON                                                             [2351]
ABSECON CITY                                                         [8201]
ACADIA PARISH             [70515, 70516, 70525, 70531, 70537, 70543, 70559]
ACCOMACK COUNTY           [23301, 23302, 23303, 23306, 23308, 23337, 233...
ACHILLE TOWN                                                        [74720]
ACKLEY                                                              [50601]
ACTON                                                          [1718, 1720]
ACUSHNET                                                             [2743]
ADA                                            [56510, 45810, 74820, 74821]
ADAIR                            [42715, 42720, 42728, 42741, 42742, 42753]
                                                ...
YORK CO CP                [29703, 29704, 29708, 29710, 29717, 29726, 297...
YORKSHIRE                                                    [14042, 14173]
YORKTOWN                                [51656, 10535, 10547, 10588, 10598]
YORKTOWN                                                            [47396]
YORKVILLE                                                    [60560, 43971]
YORKVILLE VILLAGE                                                   [13495]
YOUNG COUNTY                                                 [76460, 76481]
YOUNGSTOWN                [44415, 44416, 44422, 44424, 44439, 44453, 444...
YOUNGSVILLE                                                         [70592]
YOUNGTOWN                                                           [85363]
YOUNTVILLE                                                          [94599]
YREKA                                                               [96097]
YUBA                      [95903, 95918, 95919, 95922, 95925, 95935, 959...
YUBA CITY                                             [95991, 95992, 95993]
YUCAIPA                                                             [92399]
YUCCA VALLEY                                                 [92284, 92286]
YUKON                                                               [73085]
YUMA                                    [85364, 85365, 85366, 85369, 80759]
YUMA COUNTY               [85333, 85336, 85347, 85350, 85352, 85367, 807...
YUTAN                                                               [68073]
ZACHARY                                                             [70791]
ZANESVILLE                [46799, 43702, 43711, 43717, 43721, 43722, 437...
ZAPATA COUNTY (REMOVE)                                [78067, 78076, 78564]
ZAVALA COUNTY (REMOVE)                                       [78829, 78872]
ZEIGLER                                                             [62999]
ZEPHYRHILLS                                                         [33542]
ZIEBACH CO                                                          [57622]
ZION                                                                [60099]
ZOAR                                                                [44697]
ZUMBROTA                                                            [55992]
Name: ZipCode, Length: 9397, dtype: object

In [16]:
df1.to_csv('C:\\Users\\Ahmed\\Documents\\A_DrNoman\\Bid_postal\\pd_out1.csv')

In [17]:
df.shape

(122922, 9)

In [20]:
df1.shape

(9397,)

### 4. To view first 3 rows
The df.head(N) function can be used to check out first some
N rows.

In [25]:
df.head(10)

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,99501,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
1,AK,99502,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
2,AK,99503,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
3,AK,99504,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
4,AK,99505,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
5,AK,99506,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
6,AK,99507,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
7,AK,99508,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
8,AK,99509,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1
9,AK,99510,ANCHORAGE BOROUGH,0.0,0.0,0.0,0.0,0.0,1

### 5. Select or Drop Variables
To keep a single variable, you can write in any of the
following three methods -

1. df.ZipCode
2. df[ZipCode]
3. df.loc[:,"ZipCode"]

In [26]:
df.ZipCode

0      99501
1      99502
2      99503
3      99504
4      99505
5      99506
6      99507
7      99508
8      99509
9      99510
10     99511
11     99513
12     99514
13     99515
14     99516
15     99517
16     99518
17     99519
18     99520
19     99521
20     99522
21     99523
22     99524
23     99529
24     99530
25     99540
26     99546
27     99547
28     99548
29     99549
       ...
818    26755
819    26757
820    26761
821    26763
822    26764
823    26767
824    26801
825    26802
826    26804
827    26807
828    26808
829    26810
830    26812
831    26814
832    26815
833    26817
834    26818
835    26823
836    26833
837    26836
838    26838
839    26845
840    26847
841    26851
842    26852
843    26855
844    26865
845    26866
846    26884
847    26886
Name: ZipCode, Length: 122922, dtype: int64

In [27]:
df.loc[:,"ZipCode"]

0      99501
1      99502
2      99503
3      99504
4      99505
5      99506
6      99507
7      99508
8      99509
9      99510
10     99511
11     99513
12     99514
13     99515
14     99516
15     99517
16     99518
17     99519
18     99520
19     99521
20     99522
21     99523
22     99524
23     99529
24     99530
25     99540
26     99546
27     99547
28     99548
29     99549
       ...
818    26755
819    26757
820    26761
821    26763
822    26764
823    26767
824    26801
825    26802
826    26804
827    26807
828    26808
829    26810
830    26812
831    26814
832    26815
833    26817
834    26818
835    26823
836    26833
837    26836
838    26838
839    26845
840    26847
841    26851
842    26852
843    26855
844    26865
845    26866
846    26884
847    26886
Name: ZipCode, Length: 122922, dtype: int64

### To select variable by column position, you can use df.iloc
function. In the example below, we are selecting second
column. Column Index starts from 0. Hence, 1 refers to
second column.

In [31]:
df.iloc[5:,2]

5          ANCHORAGE BOROUGH
6          ANCHORAGE BOROUGH
7          ANCHORAGE BOROUGH
8          ANCHORAGE BOROUGH
9          ANCHORAGE BOROUGH
10         ANCHORAGE BOROUGH
11         ANCHORAGE BOROUGH
12         ANCHORAGE BOROUGH
13         ANCHORAGE BOROUGH
14         ANCHORAGE BOROUGH
15         ANCHORAGE BOROUGH
16         ANCHORAGE BOROUGH
17         ANCHORAGE BOROUGH
18         ANCHORAGE BOROUGH
19         ANCHORAGE BOROUGH
20         ANCHORAGE BOROUGH
21         ANCHORAGE BOROUGH
22         ANCHORAGE BOROUGH
23         ANCHORAGE BOROUGH
24         ANCHORAGE BOROUGH
25         ANCHORAGE BOROUGH
26                  COLD BAY
27                  UNALASKA
28                   CHIGNIK
29       BRISTOL BAY BOROUGH
30     KODIAK ISLAND BOROUGH
31              ALASKA STATE
32                     AKIAK
33                    AKUTAN
34                  ALAKANUK
               ...
818                HAMPSHIRE
819                HAMPSHIRE
820                HAMPSHIRE
821                HAMPSHIRE
822                  PRESTON
823                  MINERAL
824                    HARDY
825                PENDLETON
826                PENDLETON
827                PENDLETON
828                HAMPSHIRE
829                    HARDY
830                    HARDY
831                PENDLETON
832                PENDLETON
833                HAMPSHIRE
834                    HARDY
835                HAMPSHIRE
836                    GRANT
837                    HARDY
838                    HARDY
839                    HARDY
840                    GRANT
841                    HARDY
842                HAMPSHIRE
843                    GRANT
844                HAMPSHIRE
845                PENDLETON
846                PENDLETON
847                PENDLETON
Name: TaxRegionName, Length: 122917, dtype: object

### We can keep multiple variables by specifying desired  variables inside [ ].

1)  df[["TaxRegionName","State"]]

Also, we can make use of df.loc()
function.

In [34]:
df[["TaxRegionName","State"]]

           TaxRegionName State
0      ANCHORAGE BOROUGH    AK
1      ANCHORAGE BOROUGH    AK
2      ANCHORAGE BOROUGH    AK
3      ANCHORAGE BOROUGH    AK
4      ANCHORAGE BOROUGH    AK
5      ANCHORAGE BOROUGH    AK
6      ANCHORAGE BOROUGH    AK
7      ANCHORAGE BOROUGH    AK
8      ANCHORAGE BOROUGH    AK
9      ANCHORAGE BOROUGH    AK
10     ANCHORAGE BOROUGH    AK
11     ANCHORAGE BOROUGH    AK
12     ANCHORAGE BOROUGH    AK
13     ANCHORAGE BOROUGH    AK
14     ANCHORAGE BOROUGH    AK
15     ANCHORAGE BOROUGH    AK
16     ANCHORAGE BOROUGH    AK
17     ANCHORAGE BOROUGH    AK
18     ANCHORAGE BOROUGH    AK
19     ANCHORAGE BOROUGH    AK
20     ANCHORAGE BOROUGH    AK
21     ANCHORAGE BOROUGH    AK
22     ANCHORAGE BOROUGH    AK
23     ANCHORAGE BOROUGH    AK
24     ANCHORAGE BOROUGH    AK
25     ANCHORAGE BOROUGH    AK
26              COLD BAY    AK
27              UNALASKA    AK
28               CHIGNIK    AK
29   BRISTOL BAY BOROUGH    AK
..                   ...   ...
818            HAMPSHIRE    WV
819            HAMPSHIRE    WV
820            HAMPSHIRE    WV
821            HAMPSHIRE    WV
822              PRESTON    WV
823              MINERAL    WV
824                HARDY    WV
825            PENDLETON    WV
826            PENDLETON    WV
827            PENDLETON    WV
828            HAMPSHIRE    WV
829                HARDY    WV
830                HARDY    WV
831            PENDLETON    WV
832            PENDLETON    WV
833            HAMPSHIRE    WV
834                HARDY    WV
835            HAMPSHIRE    WV
836                GRANT    WV
837                HARDY    WV
838                HARDY    WV
839                HARDY    WV
840                GRANT    WV
841                HARDY    WV
842            HAMPSHIRE    WV
843                GRANT    WV
844            HAMPSHIRE    WV
845            PENDLETON    WV
846            PENDLETON    WV
847            PENDLETON    WV

[122922 rows x 2 columns]

In [47]:
df.loc[:,["TaxRegionName","State"]]

           TaxRegionName State
0      ANCHORAGE BOROUGH    AK
1      ANCHORAGE BOROUGH    AK
2      ANCHORAGE BOROUGH    AK
3      ANCHORAGE BOROUGH    AK
4      ANCHORAGE BOROUGH    AK
5      ANCHORAGE BOROUGH    AK
6      ANCHORAGE BOROUGH    AK
7      ANCHORAGE BOROUGH    AK
8      ANCHORAGE BOROUGH    AK
9      ANCHORAGE BOROUGH    AK
10     ANCHORAGE BOROUGH    AK
11     ANCHORAGE BOROUGH    AK
12     ANCHORAGE BOROUGH    AK
13     ANCHORAGE BOROUGH    AK
14     ANCHORAGE BOROUGH    AK
15     ANCHORAGE BOROUGH    AK
16     ANCHORAGE BOROUGH    AK
17     ANCHORAGE BOROUGH    AK
18     ANCHORAGE BOROUGH    AK
19     ANCHORAGE BOROUGH    AK
20     ANCHORAGE BOROUGH    AK
21     ANCHORAGE BOROUGH    AK
22     ANCHORAGE BOROUGH    AK
23     ANCHORAGE BOROUGH    AK
24     ANCHORAGE BOROUGH    AK
25     ANCHORAGE BOROUGH    AK
26              COLD BAY    AK
27              UNALASKA    AK
28               CHIGNIK    AK
29   BRISTOL BAY BOROUGH    AK
..                   ...   ...
818            HAMPSHIRE    WV
819            HAMPSHIRE    WV
820            HAMPSHIRE    WV
821            HAMPSHIRE    WV
822              PRESTON    WV
823              MINERAL    WV
824                HARDY    WV
825            PENDLETON    WV
826            PENDLETON    WV
827            PENDLETON    WV
828            HAMPSHIRE    WV
829                HARDY    WV
830                HARDY    WV
831            PENDLETON    WV
832            PENDLETON    WV
833            HAMPSHIRE    WV
834                HARDY    WV
835            HAMPSHIRE    WV
836                GRANT    WV
837                HARDY    WV
838                HARDY    WV
839                HARDY    WV
840                GRANT    WV
841                HARDY    WV
842            HAMPSHIRE    WV
843                GRANT    WV
844            HAMPSHIRE    WV
845            PENDLETON    WV
846            PENDLETON    WV
847            PENDLETON    WV

[122922 rows x 2 columns]

In [32]:
df.iloc[5:,[2,4]]

             TaxRegionName  EstimatedCombinedRate
5        ANCHORAGE BOROUGH                   0.00
6        ANCHORAGE BOROUGH                   0.00
7        ANCHORAGE BOROUGH                   0.00
8        ANCHORAGE BOROUGH                   0.00
9        ANCHORAGE BOROUGH                   0.00
10       ANCHORAGE BOROUGH                   0.00
11       ANCHORAGE BOROUGH                   0.00
12       ANCHORAGE BOROUGH                   0.00
13       ANCHORAGE BOROUGH                   0.00
14       ANCHORAGE BOROUGH                   0.00
15       ANCHORAGE BOROUGH                   0.00
16       ANCHORAGE BOROUGH                   0.00
17       ANCHORAGE BOROUGH                   0.00
18       ANCHORAGE BOROUGH                   0.00
19       ANCHORAGE BOROUGH                   0.00
20       ANCHORAGE BOROUGH                   0.00
21       ANCHORAGE BOROUGH                   0.00
22       ANCHORAGE BOROUGH                   0.00
23       ANCHORAGE BOROUGH                   0.00
24       ANCHORAGE BOROUGH                   0.00
25       ANCHORAGE BOROUGH                   0.00
26                COLD BAY                   0.00
27                UNALASKA                   0.03
28                 CHIGNIK                   0.00
29     BRISTOL BAY BOROUGH                   0.00
30   KODIAK ISLAND BOROUGH                   0.00
31            ALASKA STATE                   0.00
32                   AKIAK                   0.00
33                  AKUTAN                   0.00
34                ALAKANUK                   0.04
..                     ...                    ...
818              HAMPSHIRE                   0.06
819              HAMPSHIRE                   0.06
820              HAMPSHIRE                   0.06
821              HAMPSHIRE                   0.06
822                PRESTON                   0.06
823                MINERAL                   0.06
824                  HARDY                   0.06
825              PENDLETON                   0.06
826              PENDLETON                   0.06
827              PENDLETON                   0.06
828              HAMPSHIRE                   0.06
829                  HARDY                   0.06
830                  HARDY                   0.06
831              PENDLETON                   0.06
832              PENDLETON                   0.06
833              HAMPSHIRE                   0.06
834                  HARDY                   0.06
835              HAMPSHIRE                   0.06
836                  GRANT                   0.06
837                  HARDY                   0.06
838                  HARDY                   0.06
839                  HARDY                   0.06
840                  GRANT                   0.06
841                  HARDY                   0.06
842              HAMPSHIRE                   0.06
843                  GRANT                   0.06
844              HAMPSHIRE                   0.06
845              PENDLETON                   0.06
846              PENDLETON                   0.06
847              PENDLETON                   0.06

[122917 rows x 2 columns]

In [33]:
df

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,99501,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
1,AK,99502,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
2,AK,99503,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
3,AK,99504,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
4,AK,99505,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
5,AK,99506,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
6,AK,99507,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
7,AK,99508,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
8,AK,99509,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
9,AK,99510,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
10,AK,99511,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
11,AK,99513,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
12,AK,99514,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
13,AK,99515,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
14,AK,99516,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
15,AK,99517,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
16,AK,99518,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
17,AK,99519,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
18,AK,99520,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
19,AK,99521,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
20,AK,99522,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
21,AK,99523,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
22,AK,99524,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
23,AK,99529,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
24,AK,99530,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,1
25,AK,99540,ANCHORAGE BOROUGH,0.00,0.00,0.0,0.00,0.0,3
26,AK,99546,COLD BAY,0.00,0.00,0.0,0.00,0.0,1
27,AK,99547,UNALASKA,0.00,0.03,0.0,0.03,0.0,1
28,AK,99548,CHIGNIK,0.00,0.00,0.0,0.00,0.0,1
29,AK,99549,BRISTOL BAY BOROUGH,0.00,0.00,0.0,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...
818,WV,26755,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
819,WV,26757,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
820,WV,26761,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
821,WV,26763,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
822,WV,26764,PRESTON,0.06,0.06,0.0,0.00,0.0,1
823,WV,26767,MINERAL,0.06,0.06,0.0,0.00,0.0,1
824,WV,26801,HARDY,0.06,0.06,0.0,0.00,0.0,1
825,WV,26802,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
826,WV,26804,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
827,WV,26807,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
828,WV,26808,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
829,WV,26810,HARDY,0.06,0.06,0.0,0.00,0.0,1
830,WV,26812,HARDY,0.06,0.06,0.0,0.00,0.0,1
831,WV,26814,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
832,WV,26815,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
833,WV,26817,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
834,WV,26818,HARDY,0.06,0.06,0.0,0.00,0.0,1
835,WV,26823,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,1
836,WV,26833,GRANT,0.06,0.06,0.0,0.00,0.0,1
837,WV,26836,HARDY,0.06,0.06,0.0,0.00,0.0,1
838,WV,26838,HARDY,0.06,0.06,0.0,0.00,0.0,1
839,WV,26845,HARDY,0.06,0.06,0.0,0.00,0.0,1
840,WV,26847,GRANT,0.06,0.06,0.0,0.00,0.0,4
841,WV,26851,HARDY,0.06,0.06,0.0,0.00,0.0,1
842,WV,26852,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
843,WV,26855,GRANT,0.06,0.06,0.0,0.00,0.0,1
844,WV,26865,HAMPSHIRE,0.06,0.06,0.0,0.00,0.0,2
845,WV,26866,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
846,WV,26884,PENDLETON,0.06,0.06,0.0,0.00,0.0,1
847,WV,26886,PENDLETON,0.06,0.06,0.0,0.00,0.0,1

### Drop Variable
We can remove variables by using df.drop() function. See the
example below -

df2 = df.drop(['sales'], axis = 1)

In [51]:
dfa=df.drop(['StateRate'],axis=1)

In [52]:
dfa

,State,ZipCode,TaxRegionName,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,99501,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
1,AK,99502,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
2,AK,99503,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
3,AK,99504,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
4,AK,99505,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
5,AK,99506,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
6,AK,99507,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
7,AK,99508,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
8,AK,99509,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
9,AK,99510,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
10,AK,99511,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
11,AK,99513,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
12,AK,99514,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
13,AK,99515,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
14,AK,99516,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
15,AK,99517,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
16,AK,99518,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
17,AK,99519,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
18,AK,99520,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
19,AK,99521,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
20,AK,99522,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
21,AK,99523,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
22,AK,99524,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
23,AK,99529,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
24,AK,99530,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,1
25,AK,99540,ANCHORAGE BOROUGH,0.00,0.0,0.00,0.0,3
26,AK,99546,COLD BAY,0.00,0.0,0.00,0.0,1
27,AK,99547,UNALASKA,0.03,0.0,0.03,0.0,1
28,AK,99548,CHIGNIK,0.00,0.0,0.00,0.0,1
29,AK,99549,BRISTOL BAY BOROUGH,0.00,0.0,0.00,0.0,1
...,...,...,...,...,...,...,...,...
818,WV,26755,HAMPSHIRE,0.06,0.0,0.00,0.0,2
819,WV,26757,HAMPSHIRE,0.06,0.0,0.00,0.0,2
820,WV,26761,HAMPSHIRE,0.06,0.0,0.00,0.0,1
821,WV,26763,HAMPSHIRE,0.06,0.0,0.00,0.0,1
822,WV,26764,PRESTON,0.06,0.0,0.00,0.0,1
823,WV,26767,MINERAL,0.06,0.0,0.00,0.0,1
824,WV,26801,HARDY,0.06,0.0,0.00,0.0,1
825,WV,26802,PENDLETON,0.06,0.0,0.00,0.0,1
826,WV,26804,PENDLETON,0.06,0.0,0.00,0.0,1
827,WV,26807,PENDLETON,0.06,0.0,0.00,0.0,1
828,WV,26808,HAMPSHIRE,0.06,0.0,0.00,0.0,1
829,WV,26810,HARDY,0.06,0.0,0.00,0.0,1
830,WV,26812,HARDY,0.06,0.0,0.00,0.0,1
831,WV,26814,PENDLETON,0.06,0.0,0.00,0.0,1
832,WV,26815,PENDLETON,0.06,0.0,0.00,0.0,1
833,WV,26817,HAMPSHIRE,0.06,0.0,0.00,0.0,1
834,WV,26818,HARDY,0.06,0.0,0.00,0.0,1
835,WV,26823,HAMPSHIRE,0.06,0.0,0.00,0.0,1
836,WV,26833,GRANT,0.06,0.0,0.00,0.0,1
837,WV,26836,HARDY,0.06,0.0,0.00,0.0,1
838,WV,26838,HARDY,0.06,0.0,0.00,0.0,1
839,WV,26845,HARDY,0.06,0.0,0.00,0.0,1
840,WV,26847,GRANT,0.06,0.0,0.00,0.0,4
841,WV,26851,HARDY,0.06,0.0,0.00,0.0,1
842,WV,26852,HAMPSHIRE,0.06,0.0,0.00,0.0,2
843,WV,26855,GRANT,0.06,0.0,0.00,0.0,1
844,WV,26865,HAMPSHIRE,0.06,0.0,0.00,0.0,2
845,WV,26866,PENDLETON,0.06,0.0,0.00,0.0,1
846,WV,26884,PENDLETON,0.06,0.0,0.00,0.0,1
847,WV,26886,PENDLETON,0.06,0.0,0.00,0.0,1

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122922 entries, 0 to 847
Data columns (total 9 columns):
State                    122922 non-null object
ZipCode                  122922 non-null int64
TaxRegionName            122922 non-null object
StateRate                122922 non-null float64
EstimatedCombinedRate    122922 non-null float64
EstimatedCountyRate      122922 non-null float64
EstimatedCityRate        122922 non-null float64
EstimatedSpecialRate     122922 non-null float64
RiskLevel                122922 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 11.9+ MB

### 6. To summarize data frame
To summarize or explore data, you can submit the command
below.
df.describe()

In [54]:
# df.describe(include=['O'])
df.describe()

,ZipCode,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
count,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000,122922.000000
mean,49725.601064,0.053681,0.068384,0.008196,0.004135,0.002372,1.344023
std,28095.213479,0.015277,0.018761,0.011423,0.010431,0.006269,1.355414
min,501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26150.000000,0.045000,0.060000,0.000000,0.000000,0.000000,1.000000
50%,48877.500000,0.060000,0.070000,0.002500,0.000000,0.000000,1.000000
75%,73022.000000,0.062500,0.080000,0.012500,0.000000,0.000000,2.000000
max,99950.000000,0.105000,0.115000,0.065000,0.089375,0.090625,28.000000

In [61]:
# To summarise all the character variables, you can use the
# following script.

df.describe(include=['O'])

         State TaxRegionName
count   122922        122922
unique      51          9397
top         TX   MAINE STATE
freq      7755          1458

### to view summary of all the numeric variables with decimals.
df.describe(include=['float64'])

In [64]:
df.describe(include=['int64'])

             ZipCode      RiskLevel
count  122922.000000  122922.000000
mean    49725.601064       1.344023
std     28095.213479       1.355414
min       501.000000       0.000000
25%     26150.000000       1.000000
50%     48877.500000       1.000000
75%     73022.000000       2.000000
max     99950.000000      28.000000

### To select only a particular variable,
following code -
df.productcode.describe()
OR
df["productcode"].describe()